<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>Avustralya</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>6</integer>
		<key>AdminIndexV2</key>
		<integer>6</integer>
		<key>CountryIndexV1</key>
		<integer>40</integer>
		<key>CountryIndexV2</key>
		<integer>40</integer>
	</dict>
	<key>Avusturya</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>7</integer>
		<key>AdminIndexV2</key>
		<integer>7</integer>
		<key>CountryIndexV1</key>
		<integer>1</integer>
		<key>CountryIndexV2</key>
		<integer>1</integer>
	</dict>
	<key>Belçika</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>8</integer>
		<key>AdminIndexV2</key>
		<integer>8</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>16</integer>
	</dict>
	<key>Kanada</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>9</integer>
		<key>AdminIndexV2</key>
		<integer>9</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>Çin</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>10</integer>
		<key>AdminIndexV2</key>
		<integer>10</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>Çek Cumhuriyeti</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>11</integer>
		<key>AdminIndexV2</key>
		<integer>11</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>Danimarka</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>12</integer>
		<key>AdminIndexV2</key>
		<integer>12</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>16</integer>
	</dict>
	<key>Finlandiya</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>13</integer>
		<key>AdminIndexV2</key>
		<integer>13</integer>
		<key>CountryIndexV1</key>
		<integer>14</integer>
		<key>CountryIndexV2</key>
		<integer>4</integer>
	</dict>
	<key>Fransa</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>14</integer>
		<key>AdminIndexV2</key>
		<integer>14</integer>
		<key>CountryIndexV1</key>
		<integer>5</integer>
		<key>CountryIndexV2</key>
		<integer>5</integer>
	</dict>
	<key>Almanya</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>15</integer>
		<key>AdminIndexV2</key>
		<integer>15</integer>
		<key>CountryIndexV1</key>
		<integer>14</integer>
		<key>CountryIndexV2</key>
		<integer>4</integer>
	</dict>
	<key>Yunanistan</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>16</integer>
		<key>AdminIndexV2</key>
		<integer>16</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>16</integer>
	</dict>
	<key>Guam</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>17</integer>
		<key>AdminIndexV2</key>
		<integer>17</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>Hong Kong</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>18</integer>
		<key>AdminIndexV2</key>
		<integer>18</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>İzlanda</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>19</integer>
		<key>AdminIndexV2</key>
		<integer>19</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>4</integer>
	</dict>
	<key>Hindistan</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>20</integer>
		<key>AdminIndexV2</key>
		<integer>20</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>İrlanda</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>21</integer>
		<key>AdminIndexV2</key>
		<integer>21</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>16</integer>
	</dict>
	<key>İtalya</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>22</integer>
		<key>AdminIndexV2</key>
		<integer>22</integer>
		<key>CountryIndexV1</key>
		<integer>8</integer>
		<key>CountryIndexV2</key>
		<integer>8</integer>
	</dict>
	<key>Japonya</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>23</integer>
		<key>AdminIndexV2</key>
		<integer>23</integer>
		<key>CountryIndexV1</key>
		<integer>43</integer>
		<key>CountryIndexV2</key>
		<integer>43</integer>
	</dict>
	<key>Kore</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>24</integer>
		<key>AdminIndexV2</key>
		<integer>24</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>Latin Amerika</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>25</integer>
		<key>AdminIndexV2</key>
		<integer>25</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>Malezya</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>26</integer>
		<key>AdminIndexV2</key>
		<integer>26</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>Hollanda</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>27</integer>
		<key>AdminIndexV2</key>
		<integer>27</integer>
		<key>CountryIndexV1</key>
		<integer>14</integer>
		<key>CountryIndexV2</key>
		<integer>4</integer>
	</dict>
	<key>Yeni Zelanda</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>28</integer>
		<key>AdminIndexV2</key>
		<integer>28</integer>
		<key>CountryIndexV1</key>
		<integer>40</integer>
		<key>CountryIndexV2</key>
		<integer>48</integer>
	</dict>
	<key>Norveç</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>29</integer>
		<key>AdminIndexV2</key>
		<integer>29</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>16</integer>
	</dict>
	<key>Filipinler</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>30</integer>
		<key>AdminIndexV2</key>
		<integer>30</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>Polonya</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>31</integer>
		<key>AdminIndexV2</key>
		<integer>31</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>Portekiz</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>32</integer>
		<key>AdminIndexV2</key>
		<integer>32</integer>
		<key>CountryIndexV1</key>
		<integer>15</integer>
		<key>CountryIndexV2</key>
		<integer>15</integer>
	</dict>
	<key>Singapur</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>2</integer>
		<key>AdminIndexV2</key>
		<integer>2</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>Slovakya</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>33</integer>
		<key>AdminIndexV2</key>
		<integer>33</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>Güney Afrika</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>-1</integer>
		<key>AdminIndexV2</key>
		<integer>34</integer>
		<key>CountryIndexV1</key>
		<integer>-1</integer>
		<key>CountryIndexV2</key>
		<integer>40</integer>
	</dict>
	<key>İspanya</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>34</integer>
		<key>AdminIndexV2</key>
		<integer>35</integer>
		<key>CountryIndexV1</key>
		<integer>15</integer>
		<key>CountryIndexV2</key>
		<integer>15</integer>
	</dict>
	<key>İsveç</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>4</integer>
		<key>AdminIndexV2</key>
		<integer>4</integer>
		<key>CountryIndexV1</key>
		<integer>14</integer>
		<key>CountryIndexV2</key>
		<integer>14</integer>
	</dict>
	<key>İsviçre</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>5</integer>
		<key>AdminIndexV2</key>
		<integer>5</integer>
		<key>CountryIndexV1</key>
		<integer>15</integer>
		<key>CountryIndexV2</key>
		<integer>15</integer>
	</dict>
	<key>Tayvan</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>35</integer>
		<key>AdminIndexV2</key>
		<integer>36</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>Tayland</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>36</integer>
		<key>AdminIndexV2</key>
		<integer>37</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>İngiltere</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>3</integer>
		<key>AdminIndexV2</key>
		<integer>3</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>16</integer>
	</dict>
	<key>ABD</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>1</integer>
		<key>AdminIndexV2</key>
		<integer>1</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
</dict>
</plist>
