<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Australië</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>7</integer>
		<key>AdminIndexV2</key>
		<integer>7</integer>
		<key>CountryIndexV1</key>
		<integer>40</integer>
		<key>CountryIndexV2</key>
		<integer>40</integer>
	</dict>
	<key>België</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>8</integer>
		<key>AdminIndexV2</key>
		<integer>8</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>16</integer>
	</dict>
	<key>Canada</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>9</integer>
		<key>AdminIndexV2</key>
		<integer>9</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>China</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>10</integer>
		<key>AdminIndexV2</key>
		<integer>10</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>Denemarken</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>11</integer>
		<key>AdminIndexV2</key>
		<integer>11</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>16</integer>
	</dict>
	<key>Duitsland</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>12</integer>
		<key>AdminIndexV2</key>
		<integer>12</integer>
		<key>CountryIndexV1</key>
		<integer>14</integer>
		<key>CountryIndexV2</key>
		<integer>4</integer>
	</dict>
	<key>Filippijnen</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>13</integer>
		<key>AdminIndexV2</key>
		<integer>13</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>Finland</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>14</integer>
		<key>AdminIndexV2</key>
		<integer>14</integer>
		<key>CountryIndexV1</key>
		<integer>14</integer>
		<key>CountryIndexV2</key>
		<integer>4</integer>
	</dict>
	<key>Frankrijk</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>15</integer>
		<key>AdminIndexV2</key>
		<integer>15</integer>
		<key>CountryIndexV1</key>
		<integer>5</integer>
		<key>CountryIndexV2</key>
		<integer>5</integer>
	</dict>
	<key>Griekenland</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>16</integer>
		<key>AdminIndexV2</key>
		<integer>16</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>16</integer>
	</dict>
	<key>Guam</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>17</integer>
		<key>AdminIndexV2</key>
		<integer>17</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>Hong Kong</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>18</integer>
		<key>AdminIndexV2</key>
		<integer>18</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>IJsland</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>20</integer>
		<key>AdminIndexV2</key>
		<integer>20</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>4</integer>
	</dict>
	<key>Ierland</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>19</integer>
		<key>AdminIndexV2</key>
		<integer>19</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>16</integer>
	</dict>
	<key>India</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>21</integer>
		<key>AdminIndexV2</key>
		<integer>21</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>Italië</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>22</integer>
		<key>AdminIndexV2</key>
		<integer>22</integer>
		<key>CountryIndexV1</key>
		<integer>8</integer>
		<key>CountryIndexV2</key>
		<integer>8</integer>
	</dict>
	<key>Japan</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>23</integer>
		<key>AdminIndexV2</key>
		<integer>23</integer>
		<key>CountryIndexV1</key>
		<integer>43</integer>
		<key>CountryIndexV2</key>
		<integer>43</integer>
	</dict>
	<key>Korea</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>24</integer>
		<key>AdminIndexV2</key>
		<integer>24</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>Latijns-Amerika</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>25</integer>
		<key>AdminIndexV2</key>
		<integer>25</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>Maleisië</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>26</integer>
		<key>AdminIndexV2</key>
		<integer>26</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>Nederland</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>1</integer>
		<key>AdminIndexV2</key>
		<integer>1</integer>
		<key>CountryIndexV1</key>
		<integer>14</integer>
		<key>CountryIndexV2</key>
		<integer>4</integer>
	</dict>
	<key>Nieuw-Zeeland</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>27</integer>
		<key>AdminIndexV2</key>
		<integer>27</integer>
		<key>CountryIndexV1</key>
		<integer>40</integer>
		<key>CountryIndexV2</key>
		<integer>48</integer>
	</dict>
	<key>Noorwegen</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>28</integer>
		<key>AdminIndexV2</key>
		<integer>28</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>16</integer>
	</dict>
	<key>Oostenrijk</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>29</integer>
		<key>AdminIndexV2</key>
		<integer>29</integer>
		<key>CountryIndexV1</key>
		<integer>1</integer>
		<key>CountryIndexV2</key>
		<integer>1</integer>
	</dict>
	<key>Polen</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>30</integer>
		<key>AdminIndexV2</key>
		<integer>30</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>Portugal</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>31</integer>
		<key>AdminIndexV2</key>
		<integer>31</integer>
		<key>CountryIndexV1</key>
		<integer>15</integer>
		<key>CountryIndexV2</key>
		<integer>15</integer>
	</dict>
	<key>Singapore</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>3</integer>
		<key>AdminIndexV2</key>
		<integer>3</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>Slowakije</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>32</integer>
		<key>AdminIndexV2</key>
		<integer>32</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>Spanje</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>33</integer>
		<key>AdminIndexV2</key>
		<integer>33</integer>
		<key>CountryIndexV1</key>
		<integer>15</integer>
		<key>CountryIndexV2</key>
		<integer>15</integer>
	</dict>
	<key>Taiwan</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>34</integer>
		<key>AdminIndexV2</key>
		<integer>34</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>Thailand</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>35</integer>
		<key>AdminIndexV2</key>
		<integer>35</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>Tsjechië</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>36</integer>
		<key>AdminIndexV2</key>
		<integer>36</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>Verenigd Koninkrijk</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>4</integer>
		<key>AdminIndexV2</key>
		<integer>4</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>16</integer>
	</dict>
	<key>Verenigde Staten</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>2</integer>
		<key>AdminIndexV2</key>
		<integer>2</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>Zuid-Afrika</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>37</integer>
		<key>AdminIndexV2</key>
		<integer>37</integer>
		<key>CountryIndexV1</key>
		<integer>-1</integer>
		<key>CountryIndexV2</key>
		<integer>40</integer>
	</dict>
	<key>Zweden</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>5</integer>
		<key>AdminIndexV2</key>
		<integer>5</integer>
		<key>CountryIndexV1</key>
		<integer>14</integer>
		<key>CountryIndexV2</key>
		<integer>14</integer>
	</dict>
	<key>Zwitserland</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>6</integer>
		<key>AdminIndexV2</key>
		<integer>6</integer>
		<key>CountryIndexV1</key>
		<integer>15</integer>
		<key>CountryIndexV2</key>
		<integer>15</integer>
	</dict>
</dict>
</plist>
