<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>オーストラリア</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>6</integer>
		<key>AdminIndexV2</key>
		<integer>6</integer>
		<key>CountryIndexV1</key>
		<integer>40</integer>
		<key>CountryIndexV2</key>
		<integer>40</integer>
	</dict>
	<key>オーストリア</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>7</integer>
		<key>AdminIndexV2</key>
		<integer>7</integer>
		<key>CountryIndexV1</key>
		<integer>1</integer>
		<key>CountryIndexV2</key>
		<integer>1</integer>
	</dict>
	<key>ベルギー</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>8</integer>
		<key>AdminIndexV2</key>
		<integer>8</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>16</integer>
	</dict>
	<key>カナダ</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>9</integer>
		<key>AdminIndexV2</key>
		<integer>9</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>中国</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>10</integer>
		<key>AdminIndexV2</key>
		<integer>10</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>チェコ共和国</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>11</integer>
		<key>AdminIndexV2</key>
		<integer>11</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>デンマーク</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>12</integer>
		<key>AdminIndexV2</key>
		<integer>12</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>16</integer>
	</dict>
	<key>フィンランド</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>13</integer>
		<key>AdminIndexV2</key>
		<integer>13</integer>
		<key>CountryIndexV1</key>
		<integer>14</integer>
		<key>CountryIndexV2</key>
		<integer>4</integer>
	</dict>
	<key>フランス</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>14</integer>
		<key>AdminIndexV2</key>
		<integer>14</integer>
		<key>CountryIndexV1</key>
		<integer>5</integer>
		<key>CountryIndexV2</key>
		<integer>5</integer>
	</dict>
	<key>ドイツ</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>15</integer>
		<key>AdminIndexV2</key>
		<integer>15</integer>
		<key>CountryIndexV1</key>
		<integer>14</integer>
		<key>CountryIndexV2</key>
		<integer>4</integer>
	</dict>
	<key>ギリシャ</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>16</integer>
		<key>AdminIndexV2</key>
		<integer>16</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>16</integer>
	</dict>
	<key>グァム</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>17</integer>
		<key>AdminIndexV2</key>
		<integer>17</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>香港</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>18</integer>
		<key>AdminIndexV2</key>
		<integer>18</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>アイスランド</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>19</integer>
		<key>AdminIndexV2</key>
		<integer>19</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>4</integer>
	</dict>
	<key>インド</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>20</integer>
		<key>AdminIndexV2</key>
		<integer>20</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>アイルランド</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>21</integer>
		<key>AdminIndexV2</key>
		<integer>21</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>16</integer>
	</dict>
	<key>イタリア</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>22</integer>
		<key>AdminIndexV2</key>
		<integer>22</integer>
		<key>CountryIndexV1</key>
		<integer>8</integer>
		<key>CountryIndexV2</key>
		<integer>8</integer>
	</dict>
	<key>日本</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>23</integer>
		<key>AdminIndexV2</key>
		<integer>23</integer>
		<key>CountryIndexV1</key>
		<integer>43</integer>
		<key>CountryIndexV2</key>
		<integer>43</integer>
	</dict>
	<key>韓国</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>24</integer>
		<key>AdminIndexV2</key>
		<integer>24</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>ラテンアメリカ</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>25</integer>
		<key>AdminIndexV2</key>
		<integer>25</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>マレーシア</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>26</integer>
		<key>AdminIndexV2</key>
		<integer>26</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>オランダ</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>27</integer>
		<key>AdminIndexV2</key>
		<integer>27</integer>
		<key>CountryIndexV1</key>
		<integer>14</integer>
		<key>CountryIndexV2</key>
		<integer>4</integer>
	</dict>
	<key>ニュージーランド</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>28</integer>
		<key>AdminIndexV2</key>
		<integer>28</integer>
		<key>CountryIndexV1</key>
		<integer>40</integer>
		<key>CountryIndexV2</key>
		<integer>48</integer>
	</dict>
	<key>ノルウェー</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>29</integer>
		<key>AdminIndexV2</key>
		<integer>29</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>16</integer>
	</dict>
	<key>フィリピン</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>30</integer>
		<key>AdminIndexV2</key>
		<integer>30</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>ポーランド</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>31</integer>
		<key>AdminIndexV2</key>
		<integer>31</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>ポルトガル</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>32</integer>
		<key>AdminIndexV2</key>
		<integer>32</integer>
		<key>CountryIndexV1</key>
		<integer>15</integer>
		<key>CountryIndexV2</key>
		<integer>15</integer>
	</dict>
	<key>シンガポール</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>2</integer>
		<key>AdminIndexV2</key>
		<integer>2</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>スロバキア共和国</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>33</integer>
		<key>AdminIndexV2</key>
		<integer>33</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>南アフリカ</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>-1</integer>
		<key>AdminIndexV2</key>
		<integer>34</integer>
		<key>CountryIndexV1</key>
		<integer>-1</integer>
		<key>CountryIndexV2</key>
		<integer>40</integer>
	</dict>
	<key>スペイン</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>34</integer>
		<key>AdminIndexV2</key>
		<integer>35</integer>
		<key>CountryIndexV1</key>
		<integer>15</integer>
		<key>CountryIndexV2</key>
		<integer>15</integer>
	</dict>
	<key>スウェーデン</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>4</integer>
		<key>AdminIndexV2</key>
		<integer>4</integer>
		<key>CountryIndexV1</key>
		<integer>14</integer>
		<key>CountryIndexV2</key>
		<integer>14</integer>
	</dict>
	<key>スイス</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>5</integer>
		<key>AdminIndexV2</key>
		<integer>5</integer>
		<key>CountryIndexV1</key>
		<integer>15</integer>
		<key>CountryIndexV2</key>
		<integer>15</integer>
	</dict>
	<key>台湾</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>35</integer>
		<key>AdminIndexV2</key>
		<integer>36</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>タイ</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>36</integer>
		<key>AdminIndexV2</key>
		<integer>37</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>イギリス</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>3</integer>
		<key>AdminIndexV2</key>
		<integer>3</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>16</integer>
	</dict>
	<key>アメリカ合衆国</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>1</integer>
		<key>AdminIndexV2</key>
		<integer>1</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
</dict>
</plist>
