<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Alemania</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>15</integer>
		<key>AdminIndexV2</key>
		<integer>15</integer>
		<key>CountryIndexV1</key>
		<integer>14</integer>
		<key>CountryIndexV2</key>
		<integer>4</integer>
	</dict>
	<key>Australia</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>6</integer>
		<key>AdminIndexV2</key>
		<integer>6</integer>
		<key>CountryIndexV1</key>
		<integer>40</integer>
		<key>CountryIndexV2</key>
		<integer>40</integer>
	</dict>
	<key>Austria</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>7</integer>
		<key>AdminIndexV2</key>
		<integer>7</integer>
		<key>CountryIndexV1</key>
		<integer>1</integer>
		<key>CountryIndexV2</key>
		<integer>1</integer>
	</dict>
	<key>Bélgica</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>8</integer>
		<key>AdminIndexV2</key>
		<integer>8</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>16</integer>
	</dict>
	<key>Canadá</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>9</integer>
		<key>AdminIndexV2</key>
		<integer>9</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>China</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>10</integer>
		<key>AdminIndexV2</key>
		<integer>10</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>Corea</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>24</integer>
		<key>AdminIndexV2</key>
		<integer>24</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>Dinamarca</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>12</integer>
		<key>AdminIndexV2</key>
		<integer>12</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>16</integer>
	</dict>
	<key>España</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>1</integer>
		<key>AdminIndexV2</key>
		<integer>1</integer>
		<key>CountryIndexV1</key>
		<integer>15</integer>
		<key>CountryIndexV2</key>
		<integer>15</integer>
	</dict>
	<key>Estados Unidos</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>34</integer>
		<key>AdminIndexV2</key>
		<integer>35</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>Filipinas</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>30</integer>
		<key>AdminIndexV2</key>
		<integer>30</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>Finlandia</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>13</integer>
		<key>AdminIndexV2</key>
		<integer>13</integer>
		<key>CountryIndexV1</key>
		<integer>14</integer>
		<key>CountryIndexV2</key>
		<integer>4</integer>
	</dict>
	<key>Francia</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>14</integer>
		<key>AdminIndexV2</key>
		<integer>14</integer>
		<key>CountryIndexV1</key>
		<integer>5</integer>
		<key>CountryIndexV2</key>
		<integer>5</integer>
	</dict>
	<key>Grecia</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>16</integer>
		<key>AdminIndexV2</key>
		<integer>16</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>16</integer>
	</dict>
	<key>Guam</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>17</integer>
		<key>AdminIndexV2</key>
		<integer>17</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>Holanda</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>27</integer>
		<key>AdminIndexV2</key>
		<integer>27</integer>
		<key>CountryIndexV1</key>
		<integer>14</integer>
		<key>CountryIndexV2</key>
		<integer>4</integer>
	</dict>
	<key>Hong Kong</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>18</integer>
		<key>AdminIndexV2</key>
		<integer>18</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>India</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>20</integer>
		<key>AdminIndexV2</key>
		<integer>20</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>Irlanda</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>21</integer>
		<key>AdminIndexV2</key>
		<integer>21</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>16</integer>
	</dict>
	<key>Islandia</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>19</integer>
		<key>AdminIndexV2</key>
		<integer>19</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>4</integer>
	</dict>
	<key>Italia</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>22</integer>
		<key>AdminIndexV2</key>
		<integer>22</integer>
		<key>CountryIndexV1</key>
		<integer>8</integer>
		<key>CountryIndexV2</key>
		<integer>8</integer>
	</dict>
	<key>Japón</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>23</integer>
		<key>AdminIndexV2</key>
		<integer>23</integer>
		<key>CountryIndexV1</key>
		<integer>43</integer>
		<key>CountryIndexV2</key>
		<integer>43</integer>
	</dict>
	<key>Latinoamérica</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>25</integer>
		<key>AdminIndexV2</key>
		<integer>25</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>Malasia</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>26</integer>
		<key>AdminIndexV2</key>
		<integer>26</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>Noruega</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>29</integer>
		<key>AdminIndexV2</key>
		<integer>29</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>16</integer>
	</dict>
	<key>Nueva Zelanda</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>28</integer>
		<key>AdminIndexV2</key>
		<integer>28</integer>
		<key>CountryIndexV1</key>
		<integer>40</integer>
		<key>CountryIndexV2</key>
		<integer>48</integer>
	</dict>
	<key>Polonia</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>31</integer>
		<key>AdminIndexV2</key>
		<integer>31</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>Portugal</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>32</integer>
		<key>AdminIndexV2</key>
		<integer>32</integer>
		<key>CountryIndexV1</key>
		<integer>15</integer>
		<key>CountryIndexV2</key>
		<integer>15</integer>
	</dict>
	<key>Reino Unido</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>3</integer>
		<key>AdminIndexV2</key>
		<integer>3</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>16</integer>
	</dict>
	<key>Rep. Checa</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>11</integer>
		<key>AdminIndexV2</key>
		<integer>11</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>Rep. Eslovaca</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>33</integer>
		<key>AdminIndexV2</key>
		<integer>33</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>Singapur</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>2</integer>
		<key>AdminIndexV2</key>
		<integer>2</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>Sudáfrica</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>-1</integer>
		<key>AdminIndexV2</key>
		<integer>34</integer>
		<key>CountryIndexV1</key>
		<integer>-1</integer>
		<key>CountryIndexV2</key>
		<integer>40</integer>
	</dict>
	<key>Suecia</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>4</integer>
		<key>AdminIndexV2</key>
		<integer>4</integer>
		<key>CountryIndexV1</key>
		<integer>14</integer>
		<key>CountryIndexV2</key>
		<integer>14</integer>
	</dict>
	<key>Suiza</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>5</integer>
		<key>AdminIndexV2</key>
		<integer>5</integer>
		<key>CountryIndexV1</key>
		<integer>15</integer>
		<key>CountryIndexV2</key>
		<integer>15</integer>
	</dict>
	<key>Tailandia</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>36</integer>
		<key>AdminIndexV2</key>
		<integer>37</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>Taiwan</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>35</integer>
		<key>AdminIndexV2</key>
		<integer>36</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
</dict>
</plist>
