<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>Australien</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>6</integer>
		<key>AdminIndexV2</key>
		<integer>6</integer>
		<key>CountryIndexV1</key>
		<integer>40</integer>
		<key>CountryIndexV2</key>
		<integer>40</integer>
	</dict>
	<key>Belgien</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>8</integer>
		<key>AdminIndexV2</key>
		<integer>8</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>16</integer>
	</dict>
	<key>Canada</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>9</integer>
		<key>AdminIndexV2</key>
		<integer>9</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>Danmark</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>1</integer>
		<key>AdminIndexV2</key>
		<integer>1</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>16</integer>
	</dict>
	<key>Filippinerne</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>30</integer>
		<key>AdminIndexV2</key>
		<integer>30</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>Finland</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>13</integer>
		<key>AdminIndexV2</key>
		<integer>13</integer>
		<key>CountryIndexV1</key>
		<integer>14</integer>
		<key>CountryIndexV2</key>
		<integer>4</integer>
	</dict>
	<key>Frankrig</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>14</integer>
		<key>AdminIndexV2</key>
		<integer>14</integer>
		<key>CountryIndexV1</key>
		<integer>5</integer>
		<key>CountryIndexV2</key>
		<integer>5</integer>
	</dict>
	<key>Grækenland</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>16</integer>
		<key>AdminIndexV2</key>
		<integer>16</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>16</integer>
	</dict>
	<key>Guam</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>17</integer>
		<key>AdminIndexV2</key>
		<integer>17</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>Holland</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>27</integer>
		<key>AdminIndexV2</key>
		<integer>27</integer>
		<key>CountryIndexV1</key>
		<integer>14</integer>
		<key>CountryIndexV2</key>
		<integer>4</integer>
	</dict>
	<key>Hong Kong</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>18</integer>
		<key>AdminIndexV2</key>
		<integer>18</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>Indien</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>20</integer>
		<key>AdminIndexV2</key>
		<integer>20</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>Irland</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>21</integer>
		<key>AdminIndexV2</key>
		<integer>21</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>16</integer>
	</dict>
	<key>Island</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>19</integer>
		<key>AdminIndexV2</key>
		<integer>19</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>4</integer>
	</dict>
	<key>Italien</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>22</integer>
		<key>AdminIndexV2</key>
		<integer>22</integer>
		<key>CountryIndexV1</key>
		<integer>8</integer>
		<key>CountryIndexV2</key>
		<integer>8</integer>
	</dict>
	<key>Japan</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>23</integer>
		<key>AdminIndexV2</key>
		<integer>23</integer>
		<key>CountryIndexV1</key>
		<integer>43</integer>
		<key>CountryIndexV2</key>
		<integer>43</integer>
	</dict>
	<key>Kina</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>10</integer>
		<key>AdminIndexV2</key>
		<integer>10</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>Korea</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>24</integer>
		<key>AdminIndexV2</key>
		<integer>24</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>Malaysia</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>26</integer>
		<key>AdminIndexV2</key>
		<integer>26</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>New Zealand</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>28</integer>
		<key>AdminIndexV2</key>
		<integer>28</integer>
		<key>CountryIndexV1</key>
		<integer>40</integer>
		<key>CountryIndexV2</key>
		<integer>48</integer>
	</dict>
	<key>Norge</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>29</integer>
		<key>AdminIndexV2</key>
		<integer>29</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>16</integer>
	</dict>
	<key>Polen</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>31</integer>
		<key>AdminIndexV2</key>
		<integer>31</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>Portugal</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>32</integer>
		<key>AdminIndexV2</key>
		<integer>32</integer>
		<key>CountryIndexV1</key>
		<integer>15</integer>
		<key>CountryIndexV2</key>
		<integer>15</integer>
	</dict>
	<key>Schweitz</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>5</integer>
		<key>AdminIndexV2</key>
		<integer>5</integer>
		<key>CountryIndexV1</key>
		<integer>15</integer>
		<key>CountryIndexV2</key>
		<integer>15</integer>
	</dict>
	<key>Singapore</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>2</integer>
		<key>AdminIndexV2</key>
		<integer>2</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>Slovakiet</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>33</integer>
		<key>AdminIndexV2</key>
		<integer>33</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>Spanien</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>34</integer>
		<key>AdminIndexV2</key>
		<integer>35</integer>
		<key>CountryIndexV1</key>
		<integer>15</integer>
		<key>CountryIndexV2</key>
		<integer>15</integer>
	</dict>
	<key>Storbritannien</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>3</integer>
		<key>AdminIndexV2</key>
		<integer>3</integer>
		<key>CountryIndexV1</key>
		<integer>16</integer>
		<key>CountryIndexV2</key>
		<integer>16</integer>
	</dict>
	<key>Sverige</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>4</integer>
		<key>AdminIndexV2</key>
		<integer>4</integer>
		<key>CountryIndexV1</key>
		<integer>14</integer>
		<key>CountryIndexV2</key>
		<integer>14</integer>
	</dict>
	<key>Sydafrika</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>-1</integer>
		<key>AdminIndexV2</key>
		<integer>34</integer>
		<key>CountryIndexV1</key>
		<integer>-1</integer>
		<key>CountryIndexV2</key>
		<integer>40</integer>
	</dict>
	<key>Sydamerika</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>25</integer>
		<key>AdminIndexV2</key>
		<integer>25</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>Taiwan</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>35</integer>
		<key>AdminIndexV2</key>
		<integer>36</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>Thailand</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>36</integer>
		<key>AdminIndexV2</key>
		<integer>37</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>Tjekkiet</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>11</integer>
		<key>AdminIndexV2</key>
		<integer>11</integer>
		<key>CountryIndexV1</key>
		<integer>47</integer>
		<key>CountryIndexV2</key>
		<integer>47</integer>
	</dict>
	<key>Tyskland</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>15</integer>
		<key>AdminIndexV2</key>
		<integer>15</integer>
		<key>CountryIndexV1</key>
		<integer>14</integer>
		<key>CountryIndexV2</key>
		<integer>4</integer>
	</dict>
	<key>USA</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>12</integer>
		<key>AdminIndexV2</key>
		<integer>12</integer>
		<key>CountryIndexV1</key>
		<integer>22</integer>
		<key>CountryIndexV2</key>
		<integer>22</integer>
	</dict>
	<key>Østrig</key>
	<dict>
		<key>AdminIndexV1</key>
		<integer>7</integer>
		<key>AdminIndexV2</key>
		<integer>7</integer>
		<key>CountryIndexV1</key>
		<integer>1</integer>
		<key>CountryIndexV2</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
